<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>问题</title>
    <link type="text/css" href="css/litewebchat.min.css" rel="stylesheet" />
	<script src="js/vue.js"></script>
    <style>
		.lite-chatbox .cright .content {
		  margin: 0 48px 0 0;
		  border-radius: 20px 0 20px 20px;
		  color: white;
		  background: #07c160;
		  -webkit-box-shadow: 5px 5px 15px 0 rgba(102, 102, 102, 0.15);
		          box-shadow: 5px 5px 15px 0 rgba(102, 102, 102, 0.15);
		}
		
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
			background-color: #f8f9fa;
        }
        /* 手动指定其父容器大小 */
        .lite-chatmaster {
            height: 100%;
        }
        .lite-top{
            height: 50px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .lite-chatbox{	
            padding-top: 20px;
			padding-bottom: 20px;
            height: calc(100% - 450px);
        }
        .lite-bottom{
			background-color: white;
            height: 400px;
			border-radius: 18px 18px 0 0;
        }
		.lite-bottom .tab{
		    padding: 15px;
			display: flex;
		}
        .lite-bottom .tab .item{
            padding: 10px;
			margin-right: 5px;
			min-width: 80px;
			text-align: center;	
        }
		.lite-bottom .tab .select{
			color: #fff;
			background-color: #07c160;
			border-radius: 6px;
		}
		.lite-bottom .list{
		   padding: 0 15px;
		}
		.lite-bottom .list .item{
			box-sizing: border-box;
			border-radius: 6px;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.05);
			display: flex;
			align-items: center;
			margin-top: 10px;
			padding: 15px;
		}
    </style>
</head>

<body>

    <!-- 父容器 -->
    <div class="lite-chatmaster">
        <!-- 顶部栏 -->
        <div class="lite-top">常见问题</div>

         <!-- 聊天栏 -->
         <div class="lite-chatbox">

         </div>
 
         <!-- 底部栏 选择问题 -->
         <div class="lite-bottom">
             <div class="tab">
				 <div @click="tabFun(0)" class="item" :class="{'select':tab==0}">
					小程序问题
				 </div>
				 <div @click="tabFun(1)" class="item" :class="{'select':tab==1}">
					APP问题
				 </div>
			 </div>
			 <div class="list">
				 <div v-if="tab == 0" v-for="(item1,index1) in miniAppIssue" :key="index1" @click="getAnswer(index1)" class="item">
					 <div>{{item1}}</div>
				 </div>
				 <div v-if="tab == 1" v-for="(item2,index2) in appIssue" :key="index2" @click="getAnswer(index2)" class="item">
					<div>{{item2}}</div>
				 </div>
			 </div>
         </div>
    </div>

    <script src="js/lite-chatbox.min.js"></script>
	<script src="https://wxapp.xiaolankj.top/h5/assets/js/issue/config.js"></script>
	<script>
		function sleep(ms) {
		  return new Promise(resolve => setTimeout(resolve, ms || 1000))
		}
		
	    const htmls = [
	      {
	        html: "请先选择你需要问的问题！",
	        ...admin
	      }
	    ];
	    beforeRenderingHTML(htmls, ".lite-chatbox");

		var vm = new Vue({
		  el: '.lite-chatmaster',
		  data: {
			  tab:0,
			  miniAppIssue,
			  miniAppAnswer,
			  appIssue,
			  appAnswer
		  },
		  methods:{
			  tabFun(i){
				  this.tab = i
			  },
			  async getAnswer(i){
				  let issue = [];
				  let answer = [];
				  if(this.tab == 0){
					  issue = this.miniAppIssue[i]
					  answer = this.miniAppAnswer[i]
				  }else{
					  issue = this.appIssue[i]
					  answer = this.appAnswer[i]
				  }
				  console.log(issue,answer);
				  beforeRenderingHTML([{html: issue,...user}], ".lite-chatbox");
				  let e = 0
				  while(e < answer.length){
					  beforeRenderingHTML([{...answer[e]}], ".lite-chatbox");
					  await sleep(800)
					  e++
				  }
			  }
		  }
		})
	</script>
	
    
</body>

</html>